* text=auto eol=lf

*.sh text eol=lf
*.py text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.lock text eol=lf
Qwen2.5-VL-7B-Instruct_clevrer_acclearn_twgrpo_lam015_tau05/checkpoint-1000/*.safetensors filter=lfs diff=lfs merge=lfs -text
